slack-bolt==1.24.0
slack-sdk==3.36.0
litellm==1.76.3
pillow==11.3.0
requests==2.32.5
mcp==1.13.1
strands-agents==1.7.1
strands-agents-tools==0.2.6

# workaround for https://github.com/BerriAI/litellm/issues/13081
apscheduler
backoff
cryptography
email-validator
fastapi
fastapi-sso
orjson
websockets
